<div class="page-header-clear"></div>

<div class="slider-container">
	<div class="homepage-slider" data-snap-ignore="true">
		<img class="img-1 responsive-image" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAArwAAAGkAQMAAADpGWRrAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADtJREFUeNrtwQENAAAAwqD3T20PBxQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMC/AZIEAAEDx4tgAAAAAElFTkSuQmCC">
		<img class="img-2 responsive-image" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAArwAAAGkAQMAAADpGWRrAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADtJREFUeNrtwQENAAAAwqD3T20PBxQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMC/AZIEAAEDx4tgAAAAAElFTkSuQmCC">
		<img class="img-3 responsive-image" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAArwAAAGkAQMAAADpGWRrAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAADtJREFUeNrtwQENAAAAwqD3T20PBxQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMC/AZIEAAEDx4tgAAAAAElFTkSuQmCC">
	</div>

	<div class="homepage-slider-controls">
		<a href="#" class="next-home"></a>
		<a href="#" class="prev-home"></a>
	</div>
</div>

